<table mat-table [dataSource]="departments" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- department_code Column -->
    <ng-container matColumnDef="department_code">
      <th mat-header-cell *matHeaderCellDef> department_code </th>
      <td mat-cell *matCellDef="let element"> {{element.department_code}} </td>
    </ng-container>
  
    <!-- department_name Column -->
    <ng-container matColumnDef="department_name">
      <th mat-header-cell *matHeaderCellDef> department_name </th>
      <td mat-cell *matCellDef="let element"> {{element.department_name}} </td>
    </ng-container>
  
    <!-- department_address Column -->
    <ng-container matColumnDef="department_address">
      <th mat-header-cell *matHeaderCellDef> department_address </th>
      <td mat-cell *matCellDef="let element"> {{element.department_address}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 95px;">Кнопки</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="delite(element.department_code)" class="button" mat-flat-button color="primary">
          Удалить
        </button>
        <button (click)="edit(element)" class="button" mat-flat-button color="primary">
          Изменить
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="example-button-row">
    <button (click)="onchange()" class="button" mat-flat-button color="primary">ADD</button>
  </div>
  