/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label,
.mat-tab-link {
  color: navy;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field{
  width: 500px
}

.request{
  color:red;
}

td.mat-cell{
  max-width: 350px;
  word-break: break-all;
}

td.mat-cell:first-of-type{
  width:250px;
}

td.mat-cell:last-of-type{
  width:250px;
}

tr.mat-header-row{
  text-align-last: center;
}

tr.mat-row{
  text-align: center;
}
